.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.boxOverlay {
    display: relative; 
    width: 533px; 
    height: 800px;
}

.box {
    margin-left: 10px;
    background-color: red;

    width: 400px;
    height: 400px;
}

#canva {
    border-color: brown;
    border-width: 1px;
    border-style: solid;
}